@import "@/assets/scss/variables";
.flex {
    display: flex;
    justify-content: center;
}
.text-field {
    width: 95vw;
    margin: 10px auto;

    input, .input {
        padding: .5rem 1.25rem!important;
        border-radius: 8px;
        margin: 1vh 0;
        border: 1px solid $border_color;
        width: 80vw;
    }
      
}