@import "@/assets/scss/variables";

.media {
	width: 37.5vw;
	border-radius: 10px;
	overflow: hidden;
	flex-shrink: 0;
	position: relative;
	margin: 2vw;
	
	.media-image {
		height: 85%;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	
	.media-text {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		color: $color_black;
		width: 100%;
		z-index: 20;

		h3, p {
			margin: 0;
		}

		h3 {
			font-weight: 500;
		}

		p {
			margin-top: 0.5vh;
			font-size: .9rem;
		}
	}
}